*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.first{
 background-image: url("../../images/assets/backgrounds/h_img.jpg");
 background-size: cover;
height: 800px; 
background-position: center;
color: white;
text-align: center;
}
.yow{
    display: inline-block;
    margin-top: 230px;
    line-height: 150px;
    font-size: 4rem;
   
}
.click{
    margin-top: 202px;
    height: 160px;
}
.lap{
    background-image: url("../../images/assets/backgrounds/s_image.jpg");
    height: 300px;
    color: white;
    text-align: center;

}
.lap h2{
    padding-top: 80px;
}
.about{
    text-align: center;
}
.grid{
   display: grid;
   grid-template-columns: auto auto auto auto;
   gap: 10px 20px;
   padding-top: 20px;
}
h2{
    text-align: center;
    padding-top: 30px;
}
.bailey{
   /*background-image: url("../../images/assets/portfolio/work8.jpg");*/
   padding-top: 0px;
   background-color: rgba(0,0,0,0.5);
   z-index: 2;
 
  

}
.bailey h3{
    color: white;
    text-align: left;
    font-size: 2rem;
    border: 8px white solid;
    margin: 0px 35px;
   
}
  