*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.first{
 background-image: url("../../images/assets/backgrounds/h_img.jpg");
 background-size: cover;
height: 800px; 
background-position: center;
color: white;
text-align: center;
}
.yow{
    display: inline-block;
    margin-top: 230px;
    line-height: 150px;
    font-size: 4rem;

   
}